/* #traffic-light-div {
  border: 7px solid;
  width: 150px;
  height: 400px;
  background-color: grey;
}

.light {
  border: 3px solid;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 50%;
} */

/* 42. Mood Ring */

/* body {
  background-color: #d7ba19;
}

#wrapper {
  width: 75%;
  margin: auto;
}

div {
  width: 75%;
  margin: auto;
}

h1 {
  display: inline;
  position: relative;
  bottom: 4em;
} */